[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
importlib-metadata = "*"
xlrd = "*"
pytest = "*"
pywin32 = "*"
awscli = "*"
python-dotenv = "*"
csci-utils = {editable = true,git = "https://github.com/csci-e-29/2020sp-csci-utils-CarolineDelva"}
luigi = "*"
requests = "*"
numpy = "*"
pyarrow = "*"

[requires]
python_version = "3.7"
