[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
django-debug-toolbar = "*"
factory-boy = "*"

[packages]
importlib-metadata = "*"
xlrd = "*"
pytest = "*"
pywin32 = "*"
awscli = "*"
python-dotenv = "*"
luigi = "*"
requests = "*"
numpy = "*"
django = "*"
django-environ = "*"
djangorestframework = "*"
django-model-utils = "*"
argon2-cffi = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-extensions = "*"
coreapi = "*"
django-luigi = "*"


[requires]
python_version = "3.7"
