[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
django-debug-toolbar = "*"
factory-boy = "*"

[packages]
importlib-metadata = "*"
xlrd = "*"
pytest = "*"
pywin32 = "*"
awscli = "*"
python-dotenv = "*"
luigi = "*"
requests = "*"
numpy = "*"
django = "*"
django-environ = "*"
djangorestframework = "*"
django-model-utils = "*"
argon2-cffi = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-extensions = "*"
coreapi = "*"
django-luigi = "*"
csci-utils = {editable = true,git = "https://github.com/csci-e-29/2020sp-csci-utils-CarolineDelva"}
python-snappy = {path = "./python_snappy-0.5.4-cp36-cp36m-macosx_10_7_x86_64.whl"}
dotenv = "*"

[requires]
python_version = "3.7"
